@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Dancing+Script&family=Merriweather:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@300&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer {
  .font-vollkorn {
    font-family: "Vollkorn", serif;
  }
}

body {
  font-family: "Barlow", sans-serif !important;
}

.text-title {
  font-family: "Cormorant Garamond", serif !important;
}

ol {
  list-style-type: decimal; /* Kiểu số mặc định */
  padding-left: 20px; /* Khoảng cách bên trái */
}

ol li {
  margin: 5px 0; /* Khoảng cách giữa các item */
}

.text-content {
  font-family: "Source Code Pro", monospace !important;
}

.star {
  fill: none;
  stroke-width: 1px;
  transition-duration: 3000;
  stroke-dasharray: 1353px;
  stroke-dashoffset: 0;
  animation: move 10s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes move {
  100% {
    stroke-dashoffset: 100%;
  }
}

.border-primary {
  border-width: 1px;
  border-style: solid;
  border-color: #ff782b;
}

.bg-button {
  background-color: #96af52;
}

.border-button {
  border-width: 1px;
  border-style: solid;
  border-color: #96af52;
}

.text-button {
  color: #698240;
}
.text-button-hover:hover {
  color: #96af52;
}
.text-header {
  color: #ef6e37;
}
.text-header-hover:hover {
  color: #ef6e37;
}

.text-table {
  font-family: "Montserrat", sans-serif;
}

.truncate-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.truncate-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.bg-overlay {
  background: linear-gradient(
    180deg,
    rgb(24 26 31/70%) 2.73%,
    rgba(41, 42, 49, 0.2) 31.66%,
    rgb(24 26 31 / 30%) 54.78%,
    #181a1f 100%
  );
}
